@import "style.css";
header {
    display: block;
    float: left;
    width: 100%;
    background: #fff;
    padding: 15px 0;
    border-bottom: 4px solid #254159;
}
header img {
    padding-left: 20px;
    height: 50px;
    width: auto;
}
/* Estilos Mobile */
@media (max-width: 425px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* Estilos Tablet */
@media (max-width: 650px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}