@import "style.css";
.main-container {
    max-width: 1198px;
    margin: 0 auto;
    padding: 20px;
}
section {
    font-size: 1.5rem;
    display: block;
    float: left;
    padding: 20px 0;
    width: 100%;
    border-left: 2px solid #254159;
    border-right: 2px solid #254159;
    background-color: #fff;
}
section nav {
    display: block;
    width: 100%;
    float: left;
    width: 28%;
    padding-left: 2%;
}
nav a {
    display: block;
    width: 80%;
}
nav li {
    width: 100%;
    margin-bottom: 3px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    transition: all 0.5s ease-in-out;
    color: black;
}
nav li:hover {
    background-color: #dcdcdc;
    color: #4784ba;
}
section article {
    display: block;
    float: left;
    width: 68%;
    padding-right: 2%;
    padding-bottom: 5px;
}