@import "style.css";
.main-container {
    max-width: 1198px;
    margin: 0 auto;
    padding: 20px;
}
section {
    font-size: 1.5rem;
    display: block;
    float: left;
    padding: 20px 0;
    width: 100%;
    border-left: 2px solid #254159;
    border-right: 2px solid #254159;
    background-color: #fff;
}
section nav {
    float: left;
    width: 28%;
    padding-left: 2%;
}
nav a {
    display: block;
    width: 80%;
}
nav li {
    width: 100%;
    margin-bottom: 3px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    color: black;
    transition: all 0.5s ease-in-out;
}
nav li:hover {
    background-color: #dcdcdc;
    color: #4784ba;
}
#div_popup {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
#popup_form {
    text-align: left;
    font-size: 1.7rem;
    border: 3px solid #254159;
    background-color: #254159;
    color: white;
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#popup_form:hover {
    background: white;
    color: #254159;
}
section article {
    display: block;
    float: left;
    width: 68%;
    padding-right: 2%;
    padding-bottom: 5px;
}
/* Estilos Mobile */
@media (max-width: 425px) {
    section article {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .main-container_list li {
        display: none;
    }
}
/* Estilos Tablet */
@media (max-width: 700px) {
    section nav {
        display: none;
    }
    section article {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}